{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/home.css' %}" />
{% endblock %}


{% block content %}
<div class="page-content">
    <h1>Welcome Home!</h1>

    <p>
        All your preferred content in one place
    </p>
</div>


<section class="card-container">
    {% for post in posts %}
    <a href="{% url 'post_detail' post.id %}">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">{{ post.title }}</h2>
                    <p>Posted by: {{ post.author }}</p>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post image">
                {% else %}
                    <p>{{ post.description }}</p>
                    <p>Category: {{ post.category }}</p>
                    <p>Tags: {{ post.tags }}</p>
                {% endif %}
            </div>
        </div>
    </a>

    {% endfor %}
</section>

{% endblock %}