.post-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subsection-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .subsection-content {
    margin: 0 8px;
  }

  .post-details h1 {
    font-size: var(--font-xxl);
    margin: 15px 0 3px;
  }
  
  .post-details h2 {
    font-size: var(--font-xl);
    margin: 0 0 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .post-details h3 {
    margin: 20px 0 10px;
    font-size: var(--font-l);
  }
  
  .post-details p {
    font-size: var(--font-reg);
    margin: 5px 0;
  }

  .post-actions {
    display: flex;
  }